@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    --primary-color: #f4d185;
    --primary-color-dark: #7e5316;
    --secondary-color: #73360d;
    --text-dark: #241100;
    --text-light: #626160;
    --extra-light: #f8d3be;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section {
    background-color: var(--primary-color);
}

.section-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.section-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.section-subtitle {
    font-size: 1rem;
    color: var(--text-dark);
    max-width: calc(var(--max-width) / 2);
}

.btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #e8ac2c;
    background-color: #7e5316;
    border-radius: 5rem;
    cursor: pointer;
    transition: 0.3s;
} 

.btn a{
    text-decoration: none;
    color: #e8ac2c;
}

.btn:hover {
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

body {
    bacground-color: var(--primary-color);
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    cursor: pointer;
}

.nav-logo span {
    color: var(--primary-color);
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}


.link a {
    padding: 0 1rem;
    color: var(--text-dark);
    transition: 0.3s;
    
}

.link a:hover {
    color: #e8ac2c;
}

.submenu {
	position: absolute;
	bacground: var(--primary-color);
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: 	var(--text-dark);
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}

.nav-links li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

header {
    background-color: var(--primary-color);
}

.header-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
}

.header-container :is(.section-totle, .section-subtitle, .view-all) {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content>div {
    max-width: 400px;
    display: grid;
    gap: 1rem;
}

.header-content h2 {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 800;
    color: var(--secondary-color);
}



.TERCEROUNO {
    background-color: var(--primary-color);
}

.TERCEROUNO-container :is(.section-title, .section-subtitle, .view-all) {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.TERCEROUNO-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
}

.TERCEROUNO-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TERCEROUNO-content>div {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.TERCEROUNO-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.TERCEROUNO-subtitle {
    font-size: 0.7rem;
}
        
.TERCEROUNO-ul {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.TERCERODOS {
    background-color: var(--primary-color);
}

.TERCERODOS-container :is(.section-title, .section-subtitle, .view-all) {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.TERCERODOS-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
}

.TERCERODOS-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TERCERODOS-content>div {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.TERCERODOS-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.TERCERODOS-subtitle {
    font-size: 0.7rem;
}
        
.TERCERODOS-ul {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

embed {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.TERCEROTRES {
    background-color: var(--primary-color);
}

.TERCEROTRES-container :is(.section-title, .section-subtitle, .view-all) {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.TERCEROTRES-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
}

.TERCEROTRES-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TERCEROTRES-content>div {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.TERCEROTRES-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.TERCEROTRES-subtitle {
    font-size: 0.7rem;
}
        
.TERCEROTRES-ul {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

embed {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.TECNOLOGIA {
    background-color: #FFDA97;
}

.TECNOLOGIA-container{
    display: grid;
    gap: 2rem;
}

.TECNOLOGIA-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.TECNOLOGIA-form form{
    width: 100%;
    max-width: 400px;
    display: flex;
    background-color: #9e9e9e;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
}
.TECNOLOGIA-form input{
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1rem;
}

.footer{
    background-color: var(--primary-color);
}

    
.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    color: var(--secondary-color);
}
.footer-col h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.footer-col h3 span{
    color: var(--primary-color);
}
.footer-col p{
    font-size: 0.8rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.footer-col p:hover{
    color: #e8ac2c;
}
.footer-col p span{
    font-weight: 600;
}
.footer-col h4{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.footer-bar{
    max-width: var(--max-width);
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: var(--secondary-color);
    border-top: 1px solid var(--text-light);
}

@media (width < 1200px){
    .header-image img:nth-child(1){
        max-width: 300px;
    }
    .header-image img:nth-child(2){
        max-width: 200px;
    }
}

@media (width < 900px){
    .nav-links{
        display: none;
    }
    .header-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .header-image{
        min-height: 500px;
    }
    .destination-grid{
        gap: 1rem;
    }
    .trip-grid{
        grid-template-columns: repeat(2, 1fr);
    }
